<!-- Just an image -->
<nav class="navbar navbar-light bg-green">
  <a class="navbar-brand" href="#">
   <div class="position-absolute top-0 start-50 translate-middler">
    <img src="https://www.huddleco.com.au/wp-content/uploads/2023/09/HuddleCo-WebsiteLogo-v3.png" width="160" height="60" alt="">
    </div>
  </a>
</nav>