<div id="<%= dom_id job %>">
  <div class="container">
    <div class="d-flex">
    <p class="p-2 flex-grow-1">
   <%= job.company_name %>
   </p>
   <p class="p-2">
   <%= job.created_at.in_time_zone('Australia/Adelaide') %> ACST
   </p>
  </div>
  <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
  <div class="progress-bar w-75"></div>
</div>
</div>
</div>
